:root {
    --bg:#162831;
    --white: #fff;
    --accent: #018ABE;
    --blue05: hsla(197, 49%, 73%, 0.5);

}

html,
body {
    
    background-color: var(--bg);
    color: var(--white);
    margin: 0px;
    padding: 0px;
}

header .header {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

header .header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
    font-size: 14px;
}

header .header .logo {
    width: 60px;
    height: 60px;
}

header .header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

.btnA {
    padding: 9px 15px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
}

.btnA-blue {
    background-color: var(--accent);
}

.btnA-white {
    background-color: var(--white);
}

section.banner {
    font-family: 'El Messiri', sans-serif;
    font-weight: bold; 
    margin-top: 20px;
    
}

.banner .bannerBlock span {
    font-size: 24px;
    margin-bottom: 30px;
}

.banner .bannerBlock h1 {
    font-size: 64px;
}

.banner .bannerBlock {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 136px 30px 210px;
    background-image: url('../img/womenmoment.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .bannerBlock::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blue05);
    border-radius: 10px;
}

.banner .bannerBlock h1,
.banner .bannerBlock span  {
    max-width: 587px;
    text-align: center;
    z-index: 1;
}

.title_block {
    position: relative;
}

.title_block.white::after,
.title_block.white::before,
.title_block::after,
.title_block::before  {
    content: '';
    position: absolute;
    width: 28px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
}

.title_block.white::after,
.title_block.white::before {
    background-image: url(../img/leaf-left-white.svg);
}

.title_block::after,
.title_block::before {
    background-image: url(../img/leaf-left-blue.svg);
}

.title_block::before {
    transform: translateY(-50%);
    left: -94px;
}

.title_block::after {
    right: -94px;
    transform: translateY(-50%) scale(-1, 1);
}

.title_main {
    display: flex;
    justify-content: center;
    font-size: 42px; 
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    margin-bottom: 100px;
}

section {
    padding: 75px 0;
}

section.banner {
    padding-top: 0;
}

.session .sessionBlock .infoBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.session .sessionBlock .infoBlock .item {
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    font-size: 24px;
    padding: 30px 40px;
    min-height: 260px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.session .sessionBlock .infoBlock .item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--accent);
    opacity: .5;
    cursor: pointer;
}

.session .sessionBlock .infoBlock .item span {
    position: relative;
}

.session {
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
}

.session .sessionBlock .infoBlock .item:first-of-type {
    grid-row: 1/3;
    border-bottom: 7px solid var(--accent);
}

.reviews .reviewsBlock .info-block .item {
    padding: 50px 60px;
    background-color: var(--accent);
    border-radius: 10px;
}

.reviews .reviewsBlock .info-block .item .text p {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 100;
}

.reviews .reviewsBlock .info-block .item .text p:last-of-type {
    margin-bottom: 0;
}

.reviews .reviewsBlock .info-block .item .name {
    font-weight: bold;
    margin-bottom: 20px;
}
